.DS_Store
Thumbs.db
*~
Game-Iteration-Sequence-2-Digital-Assignment/BridgeDefender/Temp/
Game-Iteration-Sequence-2-Digital-Assignment/BridgeDefender/.vs/
Game-Iteration-Sequence-2-Digital-Assignment/BridgeDefender/Library/
Game-Iteration-Sequence-2-Digital-Assignment/BridgeDefender/Assembly-CSharp.csproj/
Game-Iteration-Sequence-2-Digital-Assignment/BridgeDefender/obj/
Game-Iteration-Sequence-2-Digital-Assignment/BridgeDefender/Logs/

