.DS_Store
Thumbs.db
*~
Game-Iteration-Sequence-2-Digital-Assignment/Bridge Defender/Temp/
Game-Iteration-Sequence-2-Digital-Assignment/Bridge Defender/.vs/
Game-Iteration-Sequence-2-Digital-Assignment/Bridge Defender/Library/
Game-Iteration-Sequence-2-Digital-Assignment/Bridge Defender/Assembly-CSharp.csproj/
Game-Iteration-Sequence-2-Digital-Assignment/Bridge Defender/obj/
Game-Iteration-Sequence-2-Digital-Assignment/Bridge Defender/Logs/

